*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Staatliches', verdana;
  --ff-secudary:'Palanquin', sans-serif;
  --fs-primary: 4.0rem;
  --fs-secundary:2.0rem;

  --lh-ff: 3.4rem;
  --lh-ff2: 2.0rem;

  --bg-body:hsl(233, 100%, 97%);
  --bg-body2:hsl(218, 17%, 62%);
  --bg-header:hsl(275, 18%, 79%);
  --bg-img:hsl(312, 91%, 96%);


  --color-ff: hsl(0, 0%, 100%);
  --color-ff2:hsl(274, 84%, 12%);
  --color-ff3: hsl(232, 17%, 35%);
  --shadow-bx: hsla(0, 0%, 0%, 0.251);
 
  --bod-radius: 2.0rem;
}

.page { 
  max-width: 38.5rem;
  margin: 0 auto;
}

body {
  background-color: var(--bg-body)
}

body::before {
  content:'';
  background-color: var(--bg-body2);
  width: 100%;
  height: 30.8rem;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 3.2rem auto 4.0rem ;
}

header h1 {
  color:  var(--color-ff);
  background:var(--bg-header);
  height: 4.9rem;
  width: 100%;

  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--fs-primary);
  line-height: var(--lh-ff);
  letter-spacing: 0.05em;

  margin-top: 3.2rem;
  padding: 0.8rem 8.6rem;
  text-align: center;

  box-shadow: 0px 2px 2px 0px var(--shadow-bx);
  text-shadow: 0px 2px 2px var(--shadow-bx);
}

main {
  margin-bottom: 3.6rem;
}

main p {
  color: var(--color-ff2);
  font-family:var(--ff-secudary);
  font-weight: 400;
  font-size: var(--fs-secundary);
  line-height: var(--lh-ff2);
  text-align: center;

  margin: 1.4rem auto 6.3rem;   
}

.pictures, #pictures-small {
  position: relative;

  transition-property: transform;
  transition-duration: 300ms;
  transition-delay: 200ms;
  transition-timing-function: ease-in-out;
}

.pictures:hover {
  transform: scale(1.1);
}
#pictures-small:hover {
  transform: scale(1.1);
}

.pictures img, #pictures-small img {
  width: 100%;
  height: 45.0rem;
  margin-bottom: 3.6rem;
  object-fit: cover;

  border-radius: var(--bod-radius);


  animation-name: downtop;
  animation-duration: 900ms;
  animation-delay: 300ms;
  animation-fill-mode:backwards;
  
  
}

.pictures h2, #pictures-small h2 {
  color:  var(--color-ff3);
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--fs-secundary);
  line-height: var(--lh-ff);
  letter-spacing: 0.05em;

  position: absolute;
  top: 1.76rem;
  right: 1.6rem;

  background: var(--bg-img);
  padding: 1px 2.3rem;
  border-radius: var(--bod-radius); 

  animation-name: topdown;
  animation-duration: 1000ms;
  animation-delay: 900ms;
  animation-fill-mode: backwards;
}



#pictures-small img {
  height: 25.0rem;
}




@keyframes topdown {
  0% {
    opacity: 0 ;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    }
  }

  @keyframes downtop {
    0% {
      opacity: 0;
      transform: translateY(30px);

    }
    100% {
      opacity: 1;
      transform: translateY(0);
      }
  
    }